# Домашнее задание «Библиотека Pandas»

### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [27]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
ratings_stats = ratings.merge(movies, on='movieId', how='left')[['movieId','title','rating']]

In [29]:
movies_stats = ratings_stats.groupby(['movieId','title']).mean()

In [5]:
def movie_class(rating_mean):
    if rating_mean <= 2:
        return 'Низкий рейтинг'
    elif 2 < rating_mean <= 4:
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'

In [30]:
movies_stats['class'] = movies_stats['rating'].apply(movie_class)

In [35]:
movies_stats.head()

                                              rating            class
movieId title
1       Toy Story (1995)                    3.872470  Средний рейтинг
2       Jumanji (1995)                      3.401869  Средний рейтинг
3       Grumpier Old Men (1995)             3.161017  Средний рейтинг
4       Waiting to Exhale (1995)            2.384615  Средний рейтинг
5       Father of the Bride Part II (1995)  3.267857  Средний рейтинг

### Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [36]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'], 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
Результат классификации запишите в отдельный столбец region.

In [37]:
keywords = pd.read_csv('keywords.csv')

In [55]:
def region_for_keyword(phrase):
    for region, cities in geo_data.items():
        for city in cities:
            if city in phrase:
                return region
    else:
        return 'undefined'

In [56]:
keywords['region'] = keywords['keyword'].apply(region_for_keyword)

In [63]:
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [59]:
keywords[keywords['region'] == 'Центр'].head()

               keyword   shows region
127       авито москва  979292  Центр
849    авито ярославль  209581  Центр
1259            москва  153050  Центр
1396   гисметео москва  140279  Центр
1482  госуслуги москва  133061  Центр

### Задание 3
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

  1. для каждой строки пройдите по всем годам списка years
  2. если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
  3. если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [69]:
years = list(range(1950,2011))

In [71]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
ratings_stats = ratings.merge(movies, on='movieId', how='left')[['movieId','title','rating']]

In [74]:
def production_year(movie):
    for year in years:
        if str(year) in movie:
            return year
    else:
        return 1900

In [75]:
ratings_stats['year'] = ratings_stats['title'].apply(production_year)

In [79]:
ratings_stats.groupby('year').mean()[['rating']].sort_values('rating', ascending=False).head()

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539